<nav class="m2 border-4 border-dashed">
  <ul>
    <li>
      <a [routerLink]="['/abc']" routerLinkActive="router-link-active">ABC</a>
    </li>
    <li>
      <a [routerLink]="['/firestore']" routerLinkActive="router-link-active"
        >Firestore Demo</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
  </ul>
</nav>
<div class="m2 border-4 border-dashed">
  <router-outlet></router-outlet>
</div>
