mat-toolbar {
}

mat-sidenav {
 
}

mat-sidenav-container {
  height: calc(100vh - 70px)  
}

.content {
  margin-left: 5px;
}

.avatar {
  width:25px;
  height:25px;
  border-radius: 50%;
  float: left;
}

.button-link-active {
  border-color: gray;
  background-color: #A0A0A0;
}